 <div id="page-content" style="min-height:1036px">
    <!-- Blank Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-transfer"></i>Api Settings<br><small>Here you can check your Api Settings (System-Wide)</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li><a ui-sref="accountView({id : profile.main_account})">My Account</a></li>
        <li>Api Settings</li>
    </ul>
    <!-- END Blank Header -->

    <!-- Example Block -->
    <div class="block" >
        <div class="block-title">
            <h2>Api Settings</h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="table-options clearfix">
                <br/>
                </div>
                <div class="table-responsive">
                    <table id="general-table" class="table table-striped table-vcenter">
                        <thead>
                            <tr>
                                <td>API Code</td>
                                <td>Name</td>
                                <td>Status</td>
                                <td>Category</td>
                                <td>Provider</td>
                                <td class="text-center">{{"ACTIONS"|translate}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="r in apisettings">
                                <td>{{r.apicode}}</td>
                                <td>{{r.name}}</td>
                                <td>{{r.status == "1" ? "Active" : "Disabled"}}</td>
                                <td>{{r.category}}</td>
                                <td>{{r.provider}}</td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs">
                                        <a ng-click="apiSettingEdit(r._id)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>   
            </div>
        </div>
                            
    </div>
    <!-- END Example Block -->
</div>
<!-- END Page Content -->
<footer class="clearfix">
    <div class="pull-left">
        <span id="year-copy"></span> &copy; <a href="http://www.primeairtime.com/" target="_blank">Prime Airtime Ltd</a>
    </div>
</footer>