          <!-- Header -->
                <!-- In the PHP version you can set the following options from inc/config.html file -->
                <!--
                    Available header.navbar classes:

                    'navbar-default'            for the default light header
                    'navbar-inverse'            for an alternative dark header

                    'navbar-fixed-top'          for a top fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar())
                        'header-fixed-top'      has to be added on #page-container only if the class 'navbar-fixed-top' was added

                    'navbar-fixed-bottom'       for a bottom fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar()))
                        'header-fixed-bottom'   has to be added on #page-container only if the class 'navbar-fixed-bottom' was added
                -->
                
                <header class="navbar navbar-default" ng-if="!sandbox">
                    <!-- Left Header Navigation -->
                    <ul class="nav navbar-nav-custom">
                        <!-- Main Sidebar Toggle Button -->
                        <li>
                            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
                                <i class="fa fa-bars fa-fw"></i>
                            </a>
                           
                        </li>
                        <!-- END Main Sidebar Toggle Button -->

                        
                    </ul>
                    <!-- END Left Header Navigation -->
                   
                    
                   
                   
                </header>
                <header style="background-color: #e74c3c;" class="navbar navbar-default" ng-if="sandbox">
                    <!-- Left Header Navigation -->
                    <ul class="nav navbar-nav-custom">
                        <!-- Main Sidebar Toggle Button -->
                        <li>
                            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
                                <i class="fa fa-bars fa-fw"></i>
                            </a>
                           
                        </li>
                        <!-- END Main Sidebar Toggle Button -->

                        
                    </ul>
                    <p class="form-static" style="
                    margin-left: 50%;
                    font-weight: bold;
                    font-size: large;
                    color: #fff;
                ">SANDBOX</p>
                    <!-- END Left Header Navigation -->
                   
                    
                   
                   
                </header>
                <!-- END Header -->