 <div id="page-content" style="min-height:1036px">
                    <!-- Blank Header -->
                    <div class="content-header">
                        <div class="header-section">
                            <h1>
                                <i class="gi gi-transfer"></i>Background Jobs<br><small>Here you can check your Background Jobs</small>
                            </h1>
                        </div>
                    </div>
                    <ul class="breadcrumb breadcrumb-top">
                        <li><a ui-sref="accountView({id : profile.main_account})">My Account</a></li>
                        <li>Background Jobs</li>
                    </ul>
                    <!-- END Blank Header -->

                    <!-- Example Block -->
                    <div class="block" ng-if="account.type !== 'user'">
                                            <div class="block-title">
                                                <h2>Background Jobs</h2>
                                            </div>
                                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="table-options clearfix">
                                        
                        </div>
			<div class="table-responsive"> 
                                   <table id="general-table" class="table table-striped table-vcenter">
                                           <thead>
                                                <tr>
                                                    <td>Job ID</td>
                                                    <td>Created On</td>
                                                    <td>State</td>
                                                    <td>Completed</td>
                                                    <td>Requested by</td>
                                                    <td>Finished On</td>
                                                </tr>
                                                </thead>
                                                    <tbody>
                                                        <tr ng-repeat="i in data ">
                                                            <td><a href="javascrip:void(0)" ui-sref="jobView({id : i.batchid})">{{i.batchid}}</a></td>
                                                            <td>{{i.time | date : 'MMM d, y HH:mm:ss' }}</td>
                                                            <td ng-if="i.state=='processing'"><i class="fa fa-spinner fa-spin"></i> {{i.state | translate}} </td>
                                                            <td ng-if="i.state !=='processing'">{{i.state | translate}}</td>
                                                            <td>{{i.results.length}} of {{i.jobs.length}}</td>
                                                            <td>{{user_name[i.requested_by]}} ( {{user_username[i.requested_by]}} )</td>
                                                            <td ng-if="i.state == 'fin'">{{i.updatedAt | date : 'MMM d, y HH:mm:ss' }}</td>
                                                            <td ng-if="i.state !== 'fin'">-</td>
                                                        </tr>
                                                    </tbody>
                                                
                                        </table>
				</div>
                                         <div class="table-options clearfix">
                            </div>
                                </div>
                            </div>
                                            
                                    </div>
                    <!-- END Example Block -->
                </div>
                <!-- END Page Content -->
                      <footer class="clearfix">

                    <div class="pull-left">
                        <span id="year-copy"></span> &copy; <a href="http://www.primeairtime.com/" target="_blank">Prime Airtime Ltd</a>
                    </div>
                </footer>
