
                    <!-- Modal Header -->
                    <div class="modal-header text-center">
                        <h2 class="modal-title"><i class="fa fa-pencil"></i> New Promo</h2>
                    </div>
                    <!-- END Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form  class="form-horizontal form-bordered" onsubmit="return false;">
                            <div class="form-group">
                                    <label class="col-md-4 control-label">Promo Name</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="sub.promo_name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Promo Description</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="sub.description" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="example-text-input">Promo Start</label>
                                                <div class="col-md-8">
                                                    <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="sub.date_start" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="example-text-input">Promo End</label>
                                                                <div class="col-md-8">
                                                                    <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="sub.date_end" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </p>
                                                                    </div>
                                                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Reward Mode</label>
                                    <div class="col-md-8">
                                        <select ng-model="sub.reward_mode" class="form-control">
                                            <option value="pct">Percentage (%)</option>
                                            <option value="fix">Fixed Bonus (NGN)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Reward Amount</label>
                                    <div class="col-md-8">
                                        <input type="number" ng-model="sub.reward_amt" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Threshold (NGN)</label>
                                    <div class="col-md-8">
                                        <input type="number" ng-model="sub.threshold" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Trigger Mode</label>
                                    <div class="col-md-8">
                                        <select ng-model="sub.trigger_mode" class="form-control">
                                            <option value="single">Single</option>
                                            <option value="multiple">Multiple</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Participation</label>
                                    <div class="col-md-8">
                                        <select ng-model="sub.scope" class="form-control">
                                            <option value="all">All</option>
                                            <option value="operator">Specific Operator</option>
                                            <option value="list">List of Numbers</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="sub.scope == 'operator'">
                                    <label class="col-md-4 control-label">Operator</label>
                                    <div class="col-md-8">
                                        <select ng-model="sub.operator" class="form-control">
                                            <option value="1">Airtel</option>
                                            <option value="2">9mobile</option>
                                            <option value="5">MTN</option>
                                            <option value="6">Glo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="sub.scope == 'list'">
                                    <label class="col-md-4 control-label">List of Numbers</label>
                                    <div class="col-md-8">
                                        <textarea ng-model="sub.list" class="form-control" style="width: 100%; height:200px;"></textarea>
                                        <p><span class="small pull-right">List Numbers one per line</span></p>
                                    </div>
                                </div>
                                <!--
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Send SMS ?</label>
                                    <div class="col-md-9">
                                        <div class="checkbox">
                                            <label class="switch switch-primary">
                                        <input type="checkbox" ng-model="sub.send_sms" value="true">
                                        <span></span>
                                    </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="sub.send_sms == 'true'">
                                    <label class="col-md-4 control-label">Your Message</label>
                                    <div class="col-md-8">
                                        <textarea ng-model="sub.sms_text" class="form-control" style="width: 100%; height:200px;"></textarea>
                                        <p><span class="small pull-right">{{sub.sms_text.length}} / 140</span></p>
                                    </div>
                                </div>
                            -->
                              
                               
                               
                      
                            
                            
                            <div class="form-group form-actions">
                                <div class="col-xs-12 text-right">
                                    <button ng-click="newUserCancel();" type="button" class="btn btn-sm btn-default" data-dismiss="modal">{{"cancel"|translate}}</button>
                                    <button type="button" ng-click="editPromoOK();" class="btn btn-sm btn-primary">{{"savechanges"|translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Modal Body -->