
                    <!-- Modal Header -->
                    <div class="modal-header text-center">
                        <h2 class="modal-title"><i class="fa fa-pencil"></i> {{"newratecard" | translate}}</h2>
                    </div>
                    <!-- END Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form  class="form-horizontal form-bordered" onsubmit="return false;">
                            <div class="form-group">
                                    <label class="col-md-4 control-label">{{"ratecardName"|translate}}</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.ratecard_name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">{{"initPulse"|translate}}</label>
                                    <div class="col-md-8">
                                        <input type="number" ng-model="rec.init_pulse" class="form-control">
                                    </div>
                                </div>
                                
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">{{"incrPulse"|translate}}</label>
                                    <div class="col-md-8">
                                        <input type="number" ng-model="rec.incr_pulse" class="form-control">
                                    </div>
                                </div>
                           
                            
                            <div class="form-group form-actions">
                                <div class="col-xs-12 text-right">
                                    <button ng-click="newUserCancel();" type="button" class="btn btn-sm btn-default" data-dismiss="modal">{{"cancel"|translate}}</button>
                                    <button type="button" ng-click="createRatecardOK();" class="btn btn-sm btn-primary">{{"savechanges"|translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Modal Body -->