
                    <!-- Modal Header -->
                    <div class="modal-header text-center">
                        <h2 class="modal-title"><i class="fa fa-times"></i> Invalidate Pin ?</h2>
                    </div>
                    <!-- END Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form  class="form-horizontal form-bordered" onsubmit="return false;">
                            <fieldset>
                                 <h4 class="col-md-10 col-md-offset-1 form-control-static">Are you sure you want to invalidate Pin ? ) this action is not reversible!</h4>
                                
                            </fieldset>
                           
                            <div class="form-group form-actions">
                                <div class="col-xs-12 text-right">
                                    <button ng-click="cancel();" type="button" class="btn btn-sm btn-default" data-dismiss="modal">{{"false"|translate}}</button>
                                    <button type="button" ng-click="invalidatePinOK();"  class="btn btn-sm btn-danger">{{"true"|translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Modal Body -->