
<!-- Modal Header -->
<div class="modal-header text-center">
    <h2 class="modal-title"><i class="fa fa-pencil"></i> Edit Profit Entry</h2>
</div>
<!-- END Modal Header -->

<!-- Modal Body -->
<div class="modal-body">
    <div  class="form-horizontal form-bordered">
        <div class="form-group">
            <label class="col-md-4 control-label">Country</label>
            <div class="col-md-8">
                <select ng-model="acl_country" class="form-control" ng-options="acl.country for acl in AclCountries" ng-change="editProfit()">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" >Operator</label>
            <div class="col-md-8">
                <select ng-model="acl_operator" class="form-control" ng-options="aclop.operator_name for aclop in AclOperators" ng-change="editOperator()">
                </select>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-md-4 control-label">Profit %</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="percent"  ng-model="rec.profit_pct" ng-change="change_pct()"></input>
                <span class="help-block">Please enter percentage using numbers only 0 - 99</span>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-md-4 control-label">Rate ({{rate_symbol}})</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="rate"  ng-model="rec.profit_rate" ng-change="change_rate()"></input>
                <span class="help-block">Please enter rated value</span>
            </div>
        </div>
        <div class="form-group form-actions">
            <div class="col-xs-12 text-right">
                <button ng-click="newUserCancel();" type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="editPentryOK();" class="btn btn-sm btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>
<!-- END Modal Body -->