
                    <!-- Modal Header -->
                    <div class="modal-header text-center">
                        <h2 class="modal-title"><i class="fa fa-pencil"></i> New Credential</h2>
                    </div>
                    <!-- END Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form  class="form-horizontal form-bordered" onsubmit="return false;">
                            <fieldset>
                                <legend>Mapping</legend>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">API Name</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.api_name" class="form-control">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">API Code</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.apicode" class="form-control">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">Link</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.link" class="form-control">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">Backup Link</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.backup_link" class="form-control">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">Username</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.username" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Password</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.password" class="form-control">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">ExtNWCode (Airtel)</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.extnwcode" class="form-control">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">PIN</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.pin" class="form-control">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">ReqGWCode (Airtel)</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.reqgwcode" class="form-control">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">ReqGwType (Airtel)</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.reqgwtype" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">SvcPort (Airtel)</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.svcport" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">SvcType (Airtel)</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.svctype" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">SourceID (9mobile)</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.sourceID" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">ProcessTypeID (9mobile)</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.processTypeID" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">ChannelID (9mobile)</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.channelID" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Source Numbers</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="rec.srcNum" class="form-control">
                                    </div>
                                </div>
                            </fieldset>
                            
                            <div class="form-group form-actions">
                                <div class="col-xs-12 text-right">
                                    <button ng-click="newUserCancel();" type="button" class="btn btn-sm btn-default" data-dismiss="modal">{{"cancel"|translate}}</button>
                                    <button type="button" ng-click="newCredentialOK();" class="btn btn-sm btn-primary">{{"savechanges"|translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Modal Body -->