 <div id="page-content" style="min-height:1036px">
                    <!-- Blank Header -->
                    <div class="content-header">
                        <div class="header-section">
                            <h1>
                                <i class="gi gi-random"></i>Price Tables<br><small>Here you can manage pricing tables</small>
                            </h1>
                        </div>
                    </div>
                    <ul class="breadcrumb breadcrumb-top">
                        <li>System</li>
                        <li>Price Tables</li>
                    </ul>
                    <!-- END Blank Header -->
                 
                                <div class="block">
                        <!-- Example Title -->
                        <div class="block-title">
                            <h2>Price Tables</h2>
                        </div>
                        <!-- END Example Title -->
                        <div class="table-options clearfix">
                            <br/>
                            <button ng-click="trtoImport()" class="btn btn-primary btn-sm">TransferTo Import</button><br><br>
                            <button ng-click="trloImport()" class="btn btn-primary btn-sm">Tranglo Import</button><br><br>
                            <button ng-click="trtlImport()" class="btn btn-primary btn-sm">TRTL (TransferTo Open Range) Import</button><br><br>
                        </div>
                        <!-- Example Content -->
                       
                        <!-- END Example Content -->
                    </div>

                              

                    
                    <!-- Example Block -->
                    
                    <!-- END Example Block -->
                </div>
                <!-- END Page Content -->
                      <footer class="clearfix">

                    <div class="pull-left">
                        <span id="year-copy"></span> &copy; <a href="http://www.aineo.com/" target="_blank">AiNEO Corporation</a>
                    </div>
                </footer>