<div id="page-content" style="min-height:1036px">
    <!-- Blank Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-transfer"></i>Settings<br>
                <small>Here you can check your Settings (System-Wide)</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li><a ui-sref="accountView({id : profile.main_account})">My Account</a></li>
        <li>Settings</li>
    </ul>
    <!-- END Blank Header -->

    <!-- Example Block -->
    <div class="block">
        <div class="block-title">
            <h2>Settings</h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="table-options clearfix">
                    <br/>
                </div>
                <div class="table-responsive">
                    <table id="general-table" class="table table-striped table-vcenter">
                        <thead>
                        <tr>
                            <td>Key</td>
                            <td>Value</td>
                            <td>Global ?</td>
                            <td class="text-center">{{"ACTIONS"|translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="r in settings">
                            <td>{{r.key}}</td>
                            <td>{{r.value}}</td>
                            <td>{{r.global | translate}}</td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a ng-click="setEdit(r._id)" data-toggle="tooltip" title="" class="btn btn-default"
                                       data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- END Example Block -->
</div>
<!-- END Page Content -->
<footer class="clearfix">
    <div class="pull-left">
        <span id="year-copy"></span> &copy; <a href="http://www.primeairtime.com/" target="_blank">Prime Airtime Ltd</a>
    </div>
</footer>